<div class="header">
    <div class="header-top">
        <%=  image_tag("will.png", alt: "Rails logo", class:"will") %>
        <p>English In OKINAWA By Will</p>
    </div>
    <div class="header-link">
        <ul class="menu_list">
            <li><%= link_to "ホーム", "/home" %></li>
            <li><%= link_to "イベント一覧", "/event" %></li>
            <li><%= link_to "このサイトについて", "/about" %></li>
              <% if logged_in? %>
                <li><%= link_to "mypage", "/mypage" %></li>
                <li><%= link_to "ログアウト", "/logout" %></li>
              <% if admin? %>
                <li><%= link_to "イベント投稿", "/post" %></li>
              <% end %>
            <% else %>
                <li><%= link_to "ログイン", "/login" %></li>
                <li><%= link_to "新規登録", "/singup" %></li>
            <% end %>
        </ul>
    </div>
</div>